---
import { Image } from 'astro:assets';

import { SITE_TITLE } from '../consts';
import headerImage from '../shared/assets/header.webp'
---

<header class="header">
	<h1 class="header__title hidden"><a href="/" rel="home">{SITE_TITLE}</a></h1>
	<div class="header__image" style="--im-w: 1080px; --im-h: 400px;">
		<a href="/" rel="home"><Image src={headerImage} width="1080" height="400" alt={SITE_TITLE}/></a>
	</div>
</header>

<style>
	header {
		grid-area: header;

		border-bottom: 1px dashed var(--lightgray);
	}

	header:after {
		content: '';
		display: table;
		clear: both;
	}

	.header__title {
		text-align: center;
		font-size: 4.5em;
	}
	.header__title a {
		text-decoration: none;
	}
	.header__title a:hover,
	.header__title a:focus {
		text-decoration: underline;
	}

	.header__image a {
		display: flex;
		overflow: hidden;
	}

	.header__image img {
		display: block;
	}

	.header__image img {
		width: 100%;
		height: calc(100% / (var(--im-w) / var(--im-h)));

		object-fit: contain;
	}

	@media screen and (max-width: 768px) {
		.header__image a {
			justify-content: center;
			align-items: flex-start;
			height: 150px;
		}

		.header__image img {
			width: 160%;
		}
	}

	@media screen and (max-width: 576px) {
		.header__image a {
			height: 100px;
		}
	}
</style>
