---
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'page'>['data'];

const { title } = Astro.props;
---

<article class="article">
	<h2>{title}</h2>

	<slot />
</article>
